@model GameStore.Domain.Entities.Cart

<div class="navbar-right">
    @Html.ActionLink("Order", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Shop cart:</b>
    @Model.Lines.Sum(x => x.Quantity) games,
    @Model.ComputeTotalValue().ToString("# eur")
</div>
